@{
    ViewData["Title"] = "Home";
}

<style>
    .hero-section {
        background-image: url('/images/homepage1.png');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        height: 500px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .hero-section::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.4); /* semi-transparent overlay */
            z-index: 1;
        }

    .hero-content {
        position: relative;
        z-index: 2;
        color: #ffffff; /* white text */
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6); /* optional contrast */
    }
</style>

<div class="hero-section text-center">
    <div class="hero-content">
        <h1 class="display-4 fw-bold">Delicious Food and Fresh Food</h1>
        <p class="lead">Order your favorite meals in just a few clicks.</p>
        <a asp-controller="Tables" class="btn btn-primary" >Scan Now</a>
    </div>
</div>

<style>
	.container img {
		width: 100%;
		height: auto;
		border-radius: 10px;
	}

	.container h5 {
		margin-top: 10px;
		font-weight: bold;
	}

    .container:hover {
        transform: scale(1.05);
    }
</style>

<h2 class="mt-5 mb-3 text-center">Explore Categories</h2>
<div class="container text-center mt-5">
    <div class="row justify-content-center">
        <div class="col-md-3 mb-4">
            <h5 class="mt-2">Pizza</h5>
            <img src="/images/pizza4.jpg"  alt="Pizza" />
           
        </div>
        <div class="col-md-3 mb-4">
            <h5 class="mt-2">Burgers</h5>
            <img src="/images/burger2.jpg" alt="Burgers" />
            
        </div>
        <div class="col-md-3 mb-4">
            <h5 class="mt-2">Salads</h5>
            <img src="/images/salad33.jpg" alt="Burgers" />

        </div>
        <div class="col-md-3 mb-4">
            <h5 class="mt-2">Drinks</h5>
            <img src="/images/drink1.jpg" alt="Burgers" />

        </div>
        
        
    </div>
</div>


